*.swp
~*
*~
_site
.sass-cache
*.xml
vendor
content/notebooks/.ipynb_checkpoints
.tweet-cache
__pycache__
.idea/*
.python-version

# Custom
.DS_Store
.rbenv-gemsets
.envrc
.direnv
venv
.vscode
static/processed_images
