<nav class="site-nav">
    <div class="nav-content">
        <div class="nav-logo">
            <a href="{{ config.base_url }}">{{ config.title }}</a>
        </div>
        
        <ul class="nav-links">
            <li><a href="{{ config.base_url }}">Home</a></li>
            <li><a href="{{ config.base_url }}/posts">Posts</a></li>
            <li><a href="{{ config.base_url }}/short-thoughts">Short Thoughts</a></li>
            <li><a href="{{ config.base_url }}/media">Media</a></li>
            <li><a href="{{ config.base_url }}/podcast">Podcast</a></li>
        </ul>

        <button class="nav-menu-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</nav>
