{%extends "base.html"%}

{% block content %}
<h1>Bio</h1>

<p class="text-normal">
    Hi 👋 my name is Adithya. I'm a developer based in the SF Bay Area. I'm
    excited about a wide range of things, including:
</p>
<div class="d-flex flex-column flex-sm-row">
    <div class="col-md-3 row-xs-12 p-3">
        <img class="width-full avatar" src="/images/headshot.png" alt="Adithya Balaji"/>
    </div>
    <ul>
        <li>🤖 Robotics</li>
        <li>🚀 Rocketry</li>
        <li>👾 Machine Learning</li>
        <li>💻 Software Systems</li>
        <li>&nbsp;Ξ&nbsp;&nbsp;DeFi and Cryptography</li>
        <li>📜 Ancient History</li>
        <li>🏀 Basketball</li>
        <li>🏎 Formula1</li>
        <li>🏏 Cricket</li>
    </ul>
</div>

<p>
    If you found this page, I'd love to chat--feel free to drop me a line at
    adithya[at]adithyabalaji[dot]com. I promise to respond if you sneak
    <a href="https://en.wikipedia.org/wiki/Veni,_vidi,_vici">
        "<i>veni, vidi, vici</i>"
    </a> into the footer.
</p>

<details>

    <summary><b>Copyable Short Bio</b></summary>

    <br/>

    Adithya is a currently a software engineer at Tesla with their Autopilot
    team. He's previously written code for Precision Lender, the OKC Thunder,
    Georgian Partners, Synthego, and Microsoft. He received an M.S. in Computer
    Science from Carnegie Mellon University and a B.S. in both Electrical
    Engineering and Computer Engineering from NC State. In his free time, he
    enjoys hacking on side projects, volunteering at high school robotics
    competitions, and watching basketball. He's based in the SF Bay Area.

</details>

<h2>Background</h2>

<p class="color-fg-muted">For more details on my background, feel free to hop
    over to my <a href="https://www.linkedin.com/in/adithyabsk">LinkedIn</a></p>

{% endblock content %}