<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya Balaji's Blog</title>

    <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) }}">

    {% block head %}
    {% endblock head %}
</head>

<body>
    {% include "partials/nav.html" %}
    <main class="main-content">
        {% block content %}{% endblock content %}
    </main>
    <script>
        document.querySelector('.nav-menu-button').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.nav-links').classList.toggle('show');
        });
    </script>
</body>

</html>